/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fefefe;
  -webkit-box-shadow: var(--bs);
  box-shadow: var(--bs);
  min-height: 500px;
}

/* details section  */
.project-summary {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 40px;
}
.project-name {
  font-size: 2em;
  text-transform: capitalize;
  text-shadow: var(--ts);
  position: relative;
  z-index: 1;
  color: var(--purple, purple);
}
.project-name::after {
  content: "";
  z-index: -1;
  width: 100%;
  height: 1px;
  background: black;
  position: absolute;
  bottom: 4px;
  left: 3%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--turquoise, turquoise)),
    color-stop(var(--grey, grey)),
    color-stop(var(--grey, grey)),
    color-stop(var(--grey, grey)),
    color-stop(var(--white, whitesmoke)),
    to(transparent)
  );
  background: -o-linear-gradient(
    left,
    var(--turquoise, turquoise),
    var(--grey, grey),
    var(--grey, grey),
    var(--grey, grey),
    var(--white, whitesmoke),
    transparent
  );
  background: linear-gradient(
    to right,
    var(--turquoise, turquoise),
    var(--grey, grey),
    var(--grey, grey),
    var(--grey, grey),
    var(--white, whitesmoke),
    transparent
  );
  border-radius: 2px 100% 1px 0;
}
.project-due-date {
  font-size: 0.8em;
  color: var(--grey, grey);
  margin-top: 5px;
}
.project-details {
  font-size: 1em;
  padding: 20px 0;
}
.project-category {
  text-transform: capitalize;
}
.project-assigned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.2em;
  color: var(--purple, purple);
}
.project-assigned li {
  margin-left: 8px;
}
.project-assigned .avatar {
  border: 2px solid var(--turquoise, turquoise);
}
.project-info {
  margin: auto 0 20px;
  font-size: 0.85em;
}
.project-info span {
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.1em;
}
.project-created-by {
  text-transform: capitalize;
}
.project-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.delete-project {
  margin-right: 20px;
}
.is-complete-btn {
  background: rgba(0, 0, 0, 0.5) !important;
  color: var(--purple, purple) !important;
}
.not-complete-btn {
  color: var(--purple, purple) !important;
  background: rgba(0, 0, 0, 0.15) !important;
}

/* comment section  */
.project-comments {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 40px;
}
.project-comments h4 {
  color: var(--purple, purple);
}
.no-comment {
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 0.8em;
  color: var(--grey, grey);
  margin: 10px 0 20px;
}
.comments-list {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-height: 300px;
  width: 100%;
  overflow-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid var(--grey, grey);
  margin: 10px 0 40px;
  background: var(--white, whitesmoke);
  scrollbar-color: var(--purple, purple) var(--turquoise, turquoise);
  scrollbar-width: thin;
  -webkit-box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.075);
}
.comments-comment-info {
  padding: 15px;
  position: relative;
}
.comments-comment-info::after {
  content: "";
  width: 100%;
  height: 1px;
  background: black;
  position: absolute;
  bottom: 2px;
  left: 3%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--turquoise, turquoise)),
    color-stop(var(--grey, grey)),
    color-stop(var(--grey, grey)),
    color-stop(var(--grey, grey)),
    color-stop(var(--white, whitesmoke)),
    to(transparent)
  );
  background: -o-linear-gradient(
    left,
    var(--turquoise, turquoise),
    var(--grey, grey),
    var(--grey, grey),
    var(--grey, grey),
    var(--white, whitesmoke),
    transparent
  );
  background: linear-gradient(
    to right,
    var(--turquoise, turquoise),
    var(--grey, grey),
    var(--grey, grey),
    var(--grey, grey),
    var(--white, whitesmoke),
    transparent
  );
  border-radius: 2px 100% 1px 0;
}
.comment-poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.comment-poster-name {
  text-transform: capitalize;
  margin-left: 5px;
}
.comments-comment {
  margin: 10px 0;
  font-size: 1em;
}
.comments-date,
.comments-time {
  font-size: 0.8em;
  color: var(--grey, grey);
  text-align: right;
}
.add-comment {
  margin-top: auto;
  padding: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.add-comment label {
  margin-top: 0;
}
.add-comment span {
  font-size: 0.9em;
  color: var(--purple, purple);
}

.dark .project,
.dark form {
  background: #ddd;
}

.dark textarea {
  background: var(--white, whitesmokes);
}
