/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.filter {
  margin-top: 20px;
}
.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.filter-list li {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
}
.filter-btn {
  font-family: inherit;
  font-size: 0.9em;
  padding: 5px 10px;
  border-radius: 0;
  border: none;
  cursor: pointer;
}
.filter-active {
  background: var(--turquoise, turquoise);
}
