/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.dashboard-header {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(transparent),
    to(rgba(0, 0, 0, 0.15))
  );
  background: -o-linear-gradient(bottom, transparent, rgba(0, 0, 0, 0.15));
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.15));
  margin: 0 auto 20px;
  padding: 20px;
}
.dashboard-general-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.dashboard-general-info h1 {
  margin-right: auto;
  font-size: 3em;
  text-shadow: var(--ts);
  color: var(--purple, purple);
}

.dashboard-header.dark h1 {
  color: var(--white, whitesmoke);
}
