/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.create-form {
  max-width: 700px;
}
.prioritize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.prioritize .switch {
  margin: 0 10px 0 15px;
}
.prioritize .is-priority {
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: bold;
}

.dark .create-form {
  background: var(--purple);
}
.dark .create-form h2 {
  color: var(--white, whitesmoke);
}
.dark .create-form span {
  color: var(--white, whitesmoke);
}
.dark .create-form input,
.dark .create-form textarea {
  background: #ddd;
}
