.create-form {
  max-width: 700px;
}
.prioritize {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.prioritize .switch {
  margin: 0 10px 0 15px;
}
.prioritize .is-priority {
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: bold;
}
