.navbar {
  margin-bottom: 40px;
}
.navbar a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 15px;
  font-weight: normal;
  transition: all 0.2s ease;
}
.navbar img {
  margin-right: 5px;
}
.navbar a:hover {
  background: rgba(142, 217, 236, 0.5);
  /* background: rgba(250, 128, 114, 0.5); */
}
.active {
  background: var(--salmon, salmon);
}
.navbar a.active:hover {
  background: var(--salmon, salmon);
}
