.project-list {
  /* background: rgba(0, 0, 0, 0.1); */
  /* margin-top: 75px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  /* width: 90%; */
  margin: auto;
  place-content: center;
}
.card {
  /* background: var(--white, whitesmoke); */
  background: #fefefe;
  /* background: salmon; */
  padding: 25px;
  /* margin: 10px 0; */
  box-shadow: var(--bs);
  /* font-size: 2em; */
  position: relative;
  transition: all 0.2s ease;
}
.card:hover {
  background: #fafafa;
  /* background: var(--turquoise, turquoise); */
}
.card-name {
  font-size: 1.25em;
  text-transform: capitalize;
  text-shadow: var(--ts);
}
.card-category {
  font-style: italic;
  color: var(--grey, grey);
  padding: 5px 0;
}
.card-due-date {
  font-size: 1em;
  font-weight: lighter;
}
.card .prioritize {
  /* width: 25px; */
  font-family: var(--secondary), "serif";
  height: 20px;
  padding: 15px;
  /* background: darkred; */
  /* background: var(--purple); */
  background: var(--violet, violet);
  color: var(--white, whitesmoke);
  /* color: var(--white); */
  /* background: rgb(247, 69, 69); */
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  font-size: 0.85em;
  letter-spacing: 0.025em;
  font-weight: bold;
  text-align: right;
  border-bottom-left-radius: 12px;
  box-shadow: var(--bs);
}
.card .non-prioritize {
  width: 25px;
  height: 25px;
  background: green;
}
.card-assigned {
  border-top: 1px solid var(--white, whitesmoke);
  margin-top: 25px;
  padding-top: 10px;
}
.card-assigned ul {
  display: flex;
}
.card-assigned li {
  margin-right: 10px;
}
.card-assigned .avatar {
  /* width: 30px;
  height: 30px; */
}
.card-completed {
  background: #aeaeae;
  /* text-decoration: line-through; */
  /* color: var(--grey, grey); */
  color: var(--white, whitesmoke);
}
.card-completed .card-category {
  color: var(--white, whitesmoke);
}

/* THEME */
.dark .card {
  background: #ddd;
}
.dark .card:hover {
  background: #ccc;
  /* background: var(--turquoise, turquoise); */
}
.dark .card-completed {
  background: var(--grey, grey);
  text-decoration: line-through;
  color: #ddd;
}
.dark .card-completed:hover {
  background: var(--grey, grey);
}
