.sidebar {
  background: var(--turquoise, turquoise);
  width: 150px;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}
.sidebar .btn {
  text-transform: uppercase;
  font-size: 0.75em;
}
.current-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 10px;
}
.current-user .avatar {
  width: 50px;
  height: 50px;
}
.current-user-name {
  padding: 10px;
  font-size: 1em;
  text-transform: capitalize;
  word-break: break-all;
}
