.switch {
  height: 30px;
  width: 75px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}
.handle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #fefefe;
  overflow: hidden;
}
.switch-icon {
  width: 15px;
  height: 15px;
}
.on {
  background-color: var(--turquoise, turquoise);
}
.off {
  background-color: var(--light-grey, #ddd);
}
.yes {
  position: absolute;
  left: 10px;
  text-transform: uppercase;
  font-size: 0.75em;
}
.no {
  position: absolute;
  right: 10px;
  text-transform: uppercase;
  font-size: 0.75em;
}

/* MODE SWITCH  */
.mode-switch {
  height: 30px;
  width: 55px;
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    #e79950 0%,
    #bb4848 100.2%
  );
  /* background: radial-gradient(
    circle farthest-corner at 10% 20%,
    #fdcb32 0%,
    #f43862 100.2%
  ); */
  /*D0B05C BB4848 */
  border-radius: 25px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5px;
  margin-right: 30px;
  cursor: pointer;
  transition: all 0.3s;
}
.mode-switch-icon {
  width: 15px;
  height: 15px;
}
.mode-switch-icon {
  color: #f88748;
}
[data-darkmode="true"] {
  /* background: #52527a; */
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    #3e0574 -5.2%,
    #290e97 -5.2%,
    #d84494 103.3%
  );
}
[data-darkmode="true"] .mode-switch {
  background: linear-gradient(109.8deg);
}
[data-darkmode="true"] .mode-switch-icon {
  color: #501a96;
}
