.users {
  background: linear-gradient(235deg, var(--turquoise, turquoise), #397a8a);
  min-width: 200px;
  text-align: center;
  padding: 20px 30px;
}
.users h2 {
  margin: 20px 0;
}
.online-status {
  /* position: relative; */
  font-size: 1.05em;
  text-transform: uppercase;
  text-align: left;
  padding-top: 20px;
}
/* .online-status::after {
  content: "";
  width: 90%;
  height: 1px;
  background: linear-gradient(
    to right,
    var(--grey, grey),
    var(--grey, grey),
    var(--turquoise, turquoise)
  );
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
} */
.users-list {
  background: rgba(0, 0, 0, 0.05);
}
.user {
  background: rgba(0, 0, 0, 0.075);
  padding: 10px;
  margin: 3px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.online {
  background: greenyellow;
  width: 10px;
  height: 10px;
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
}
.user-name {
  margin: 0 8px;
  overflow: hidden;
  font-weight: lighter;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em;
  max-height: 2em;
  font-size: 0.85em;
}

/* THEME  */
.users.dark {
  /* filter: brightness(85%); */
  background: linear-gradient(
    235deg,
    var(--dark-mode-turquoise),
    var(--dark-mode-blue)
  );
}
.dark .users-list {
  background: none;
}
.dark .user {
  /* background: rgba(0, 0, 0, 0.075); */
  background: var(--violet);
  color: var(--white, whitesmoke);
}

/* @media (max-width: 1200px) {
  .users {
    width: unset;
  }
} */
