/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.users {
  background: -o-linear-gradient(215deg, var(--turquoise, turquoise), #397a8a);
  background: linear-gradient(235deg, var(--turquoise, turquoise), #397a8a);
  min-width: 200px;
  text-align: center;
  padding: 20px 30px;
}
.users h2 {
  margin: 20px 0;
}
.online-status {
  font-size: 1.05em;
  text-transform: uppercase;
  text-align: left;
  padding-top: 20px;
}
.users-list {
  background: rgba(0, 0, 0, 0.05);
}
.user {
  background: rgba(0, 0, 0, 0.075);
  padding: 10px;
  margin: 3px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.online {
  background: greenyellow;
  width: 10px;
  height: 10px;
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
}
.user-name {
  margin: 0 8px;
  overflow: hidden;
  font-weight: lighter;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em;
  max-height: 2em;
  font-size: 0.85em;
}

/* THEME  */
.users.dark {
  background: -o-linear-gradient(
    215deg,
    var(--dark-mode-turquoise),
    var(--dark-mode-blue)
  );
  background: linear-gradient(
    235deg,
    var(--dark-mode-turquoise),
    var(--dark-mode-blue)
  );
}
.dark .users-list {
  background: none;
}
.dark .user {
  background: var(--violet);
  color: var(--white, whitesmoke);
}
