.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.btn {
  cursor: pointer;
  padding: 8px 12px;
  font-size: 1em;
  display: inline-block;
  box-shadow: var(--bs);
  transition: all 0.2s ease;
  border: 2px solid var(--purple, purple);
  background: var(--purple, purple);
  color: var(--white, white);
}

.btn:hover {
  color: #ddd;
  box-shadow: none;
  background: rgba(77, 48, 57, 0.84);
}

.btn:disabled {
  background: var(--grey, grey);
}

.container {
  flex: 1;
  display: flex;
  place-content: center;
  width: 100%;
}
.main-wrapper {
  flex: 1;
  padding: 75px 50px;
  /* display: grid; */
  /* place-content: top; */
}

/* FORMS (LOGIN/SIGNUP) */
.form-container {
  align-self: center;
  max-width: 90%;
  width: 400px;
}
form {
  margin: 0 auto;
  width: 100%;
  background: #fefefe;
  padding: 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.025);
}
form h2 {
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  color: var(--purple, purple);
}
label {
  display: block;
  margin: 30px auto;
}
label span {
  display: block;
  margin-bottom: 2px;
}
input,
textarea {
  resize: vertical;
  font-family: inherit;
  width: 100%;
  padding: 8px 6px;
  font-size: 1em;
  color: var(--grey, grey);
  border: 2px solid var(--white, white);
}
input:focus,
textarea:focus {
  outline: 0.1em solid var(--turquoise);
  background: var(--white);
}
form button {
  width: 100%;
}
.signin-access {
  display: block;
  color: var(--purple, purple);
  font-size: 0.85em;
  margin: 20px auto;
  text-align: center;
}
.signin-access:hover {
  color: var(--blue, blue);
}
.error {
  color: red;
  background: pink;
  border: 1px solid red;
  padding: 10px;
  margin: 20px 0;
  font-weight: bold;
}
